:root {
    background-attachment: fixed;
    background-color: #ffbcd6d0;
    background-image: linear-gradient(to bottom, rgba(255,153,153,0) 0%,rgba(255,153,153,0) 75%,rgb(70, 135, 255) 100%), url(../images/fate-extra-background.webp);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-family: MS PGothic;
    font-size: 1vw;
}
@font-face {
    font-family: tamaconnecttype;
    src: url(../fonts/tamaconnecttype.ttf);
}

a {
    text-decoration: none;
}
    a:active {
        color: black;
    }

.marquee {
    background-color: #ffb7b7;
    background-image: url(../images/master-system-background.webp);
    background-size: 2.5%;
    border-style: solid;
    border-radius: 1vw;
    border-color:#313131;
    font-family: 'tamaconnecttype';
    font-size: 5vh;
    margin-left: 25%;
    padding-bottom: 2vh;
    height: 6vh;
    width: 50%;
}
            @-moz-document url-prefix() {
                .marquee {
                    margin-bottom: 0.3vh
                }
            }
    .marqueev {
        background-color: #ffb7b7;
        background-image: url(../images/master-system-background.webp);
        background-size: 25%;
        border-style: solid;
        border-radius: 1vw;
        border-color:#313131;
        font-family: 'tamaconnecttype';
        font-size: 2.5vw;
        padding-left: 1vw;
        padding-right: 0vw;
        height: 50vh;
        width: 3vw;
        position: fixed;
    }
    #marqueevleft {
        top: 10vh;
        left: 8.8vw;
    }
    #marqueevright {
        top: 10vh;
        right: 13.8vw;
    }

.sidebar { /*This is the LEFT sidebar itself*/
    border-style: solid;
    border-color: #313131;
    margin: 0%;
    margin-left: 13.5%;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    left: 0;
}
    .sidebar ol { /*This is the left sidebar link stuff*/
        columns: 1;
        break-inside: avoid;
        column-gap: 0px;
        list-style: none;
        margin: 0px;
        padding: 0px;
    }
    .sidebar li { /*This is for what's inside the individual sidebar boxes*/
        width: 10.6vw;
        height: 5.5vh;
        background-color: #313131;
        background-size: 100%;
        border: inset #313131;
        text-align: center;
        filter: brightness(80%);
    }
    .sidebar a { /*This is for sidebar text itself*/
        font-family: tamaconnecttype;
        font-size: 1.7vw;
        color: white;
        text-decoration: none;
    }
        .sidebar a :hover { /*This is for what happens when a sidebar link is hovered over*/
            filter: brightness(90%);
        }
        .sidebar ol :active { /*This is for what happens when a sidebar link is clicked on*/
            border: outset #313131;
            filter: brightness(100%);
        }
            @-moz-document url-prefix() {
                .sidebar ol :active { /*This is for what happens when a sidebar link is clicked on SPECIFICALLY IN FIREFOX BECAUSE IT BUGS OUT OTHERWISE*/
                    border: none;
                    filter: brightness(100%);
                }
                .sidebar ol { /*This is the left sidebar link stuff IN FIREFOX ONLY TO FIX A BUG*/
                    background-color: #313131;
                }
                .sidebar li { /*This is to fix the border colors on the left sidebar in Firefox*/
                    border-bottom: inset #000000;
                    border-right: inset #000000;
                }
            }
        .sidebar li :active { /*This is just to prevent the text within the boxes getting their own border when clicked on*/
            border: none;
        }
        #sidebar-active { /*Page link that is currently active*/
            border: outset #313131;
            filter: brightness(100%);
        }
            @-moz-document url-prefix() {
                #sidebar-active {
                    border-top: outset #000000;
                    border-left: outset #000000;
                }
            }

.sidebar-right { /*This is the RIGHT sidebar box*/
    border-style: solid;
    border-color: #313131;
    margin: 0%;
    margin-right: 18.5%;
    background-color:black;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    right: 0%;
}
    .sidebar-right ol { /*This is for the links within the right sidebar*/
        columns: 2;
        break-inside: avoid;
        column-gap: 0%;
        list-style: none;
        margin: 0%;
        padding: 0%;
    }
    .sidebar-right li { /*This is just to prevent the individual links from messing up when zoomed in*/
        width: 0%;
        height: 6vh;
    }
    .sidebar-right img {
        width: 2.6vw;
        border: outset #313131;
        background-color: #313131;
    }
        .sidebar-right a :hover {
            background-color: #212121;
        }
        .sidebar-right a :active {
            border-style: inset;
            background-color: #212121;
            filter: brightness(80%);
        }
            @-moz-document url-prefix() {
                .sidebar-right img {
                    border-top: outset #000000;
                    border-left: outset #000000;
                }
                .sidebar-right a :active {
                    border: inset #000000;
                }
            }

.main-text { /*This is for the main center text box*/
    background-image: url(../images/background-block-pink.webp);
    background-size: 5%;
    border-style: solid;
    border-color: #313131;
    margin: auto;
    text-align: center;
    width: 50%;
    height: 50%;
}
        .main-text h2 {
            font-family: tamaconnecttype;
            font-size: 1.2vw;
            margin: 2%;
        }
    .main-text-paragraph {
        margin: 1%;
        padding-left: 1%;
        padding-right: 1%;
        border: inset #313131;
        overflow-wrap: break-word;
        background-color: #ffffff;
        background-image: url(../images/master-system-background.webp);
        background-size: 2.5%;
    }
        .main-text-paragraph h2 {
            font-size: 1vw;
            margin: 3%;
        }
        .main-text-paragraph h3 {
            font-size: 1vw;
            margin: 2%;
        }
        .main-text-paragraph p {
            font-size: 0.95vw;
            margin: 2%;
        }
        .main-text-paragraph img {
            position: relative;
            margin-left: auto;
            margin-right: auto;
            border-style: inset;
            border-color: #313131;
            margin-top: 1%;
            margin-bottom: 1%;
            width: 100%;
        }
            @-moz-document url-prefix() {
                .main-text-paragraph img {
                    border-color: black;
                }
            }
            .side-by-side-img {
                margin-left: auto;
                margin-right: auto;
                margin-top: 1%;
                margin-bottom: 1%;
                width: 80%;
            }
                .side-by-side-img ol {
                    columns: 2;
                    break-inside: avoid;
                    column-gap: 2%;
                    list-style: none;
                    margin: 0%;
                    padding: 0%;
                }
                    #side-by-side-column-3 ol {
                        columns: 3;
                    }
            .small-img {
                position: relative;
                margin-left: auto;
                margin-right: auto;
                margin-top: 1%;
                margin-bottom: 1%;
                width: 12%;
            }
                #ochimusha-title {
                    border: none;
                }
            .medium-img {
                position: relative;
                margin-left: auto;
                margin-right: auto;
                margin-top: 1%;
                margin-bottom: 1%;
                width: 50%;
            }
            .medium-large-img {
                position: relative;
                margin-left: auto;
                margin-right: auto;
                margin-top: 1%;
                margin-bottom: 1%;
                width: 65%;
            }
            .large-img {
                position: relative;
                margin-left: auto;
                margin-right: auto;
                margin-top: 1%;
                margin-bottom: 1%;
                width: 80%;
            }
                #front-page-ilaiya-img {
                    width: 60%;
                    margin-top: 5%;
                    margin-left: -75%;
                    position: relative;
                    z-index: 1;
                }
                    @-moz-document url-prefix() {
                        #front-page-ilaiya-img {
                            margin-top: 0%;
                        }
                    }
    .main-text-paragraph-right {
        float: right;
        margin: 1%;
        width: 62%;
        height: 40vh;
        padding: 1%;
        padding-bottom: 0%;
        padding-top: 0%;
        border: inset #313131;
        overflow-wrap: break-word;
        background-color: #ffbcd6;
        background-image: url(../images/master-system-background.webp);
        background-size: 3%;
    }
        .main-text-paragraph-right h3 {
            font-size: 1vw;
            margin: 3%;
        }
        .main-text-paragraph-right p {
            font-size: 0.85vw;
            margin: 2%;
        }

.scrollbox { /*This is for scrollboxes*/
    background-image: url(../images/master-system-background.webp);
    background-size: 6%;
    border: solid #313131;
    margin: 1%;
    overflow: scroll;
    height: 50vh;
    width: 29.7%;
    font-family: MS PGothic;
    font-size: 0.7vw;
    padding: 1%;
    padding-top: 0%;
    padding-bottom: 0%;
}
    .scrollbox hr { /*This is to change the line break between updates within the scrollbox*/
        border: inset #313131;
        height: 0%;
        width: 95%;
    }
            @-moz-document url-prefix() {
                .scrollbox {
                    height: 50vh;
                    border: solid #313131;
                }
                .scrollbox hr {
                    border-bottom: inset #000000;
                    border-right: inset #000000;
                }
            }
                @media only screen and (max-height: 700px) {
                    .scrollbox {
                        padding: 0%;
                    }
                }
                @media only screen and (max-height: 400px) {
                    .scrollbox {
                        border-right: none;
                    }
                }

.logo {
    margin: 1%;
    margin-bottom: 0%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border: inset #313131;
    background-color: white;
    /*background-image: url(../images/pride_month_background.png);
    background-size: 7.6%; PRIDE MONTH BANNER*/
}

.musou-thumbnail img {
    columns: 4;
    break-inside: avoid;
    width: 21%;
    height: 28vh;
    border-style: solid;
    border-color: #313131;
    margin: 1%;
}

.youtube { /*This is to change the visuals of youtube embeds*/
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    /*overflow: hidden;*/
    width: 71%;
    padding-top: 40%;
}
    .youtube iframe {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        border: inset, #313131;
    }
        @-moz-document url-prefix() {
            .youtube iframe {
                border-style: solid;
                border-color: #313131;
            }
        }

.bomb {
    position: fixed;
    right: 8%;
    top: 30%;
    z-index: 1;
    max-width: 25%;
    min-width: 15%;
}
    .bomb:hover { /*This is what happens when you hover over the character images*/
        opacity: 0.35;
    }
        #bomb-ochimusha {
            right: 12%;
            top: 35%;
            min-width: 10%;
        }
        #bomb-dw3 {
            right: 8%;
            min-width: 20%;
            max-width: 25%;
        }
        #bomb-dw2 {
            right: 10%;
            max-width: 15%;
        }
        #bomb-sw {
            right: 1%;
            min-width: 30%;
        }

#failure {
    border: none;
}