:root {
    background-attachment: fixed;
    background-color: #ffbcd6d0;
    background-image: linear-gradient(to bottom, rgba(255,153,153,0) 0%,rgba(255,153,153,0) 75%,rgb(70, 135, 255) 100%), url(../images/fate-extra-background.webp);
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 100% auto;
    font-family: MS PGothic;
    font-size: medium;
}
@font-face {
    font-family: tamaconnecttype;
    src: url(../fonts/tamaconnecttype.ttf);
}

.marquee {
    background-color: #ffb7b7;
    background-image: url(../images/master-system-background.webp);
    background-size: 5%;
    border-style: solid;
    border-radius: 10px;
    border-color:#313131;
    font-family: 'tamaconnecttype';
    font-size: 50px;
    padding-bottom: 25px;
}
    .marqueev {
        background-color: #ffb7b7;
        background-image: url(../images/master-system-background.webp);
        background-size: 50%;
        border-style: solid;
        border-radius: 10px;
        border-color:#313131;
        font-family: 'tamaconnecttype';
        font-size: 50px;
        padding-left: 25px;
        height: 500px;
        width: 60px;
        position: fixed;
    }
    #marqueevleft {
        top: 103px;
        left: 162px;
    }
    #marqueevright {
        top: 103px;
        right: 262px;
    }

.sidebar { /*This is the LEFT sidebar itself*/
    border-style: solid;
    border-color: #313131;
    margin: 0px;
    margin-left: 13.6%;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    left: 0;
}
    .sidebar ol { /*This is the left sidebar link stuff*/
        columns: 1;
        break-inside: avoid;
        column-gap: 0px;
        list-style: none;
        margin: 0px;
        padding: 0px;
    }
    .sidebar li { /*This is for what's inside the individual sidebar boxes*/
        width: 204px;
        height: 50px;
        background-color: #313131;
        border: inset #313131;
        text-align: center;
        filter: brightness(80%);
    }
    .sidebar a { /*This is for sidebar text itself*/
        font-family: tamaconnecttype;
        font-size: xx-large;
        color: white;
        text-decoration: none;
    }
        .sidebar a :hover { /*This is for what happens when a sidebar link is hovered over*/
            filter: brightness(90%);
        }
        .sidebar ol :active { /*This is for what happens when a sidebar link is clicked on*/
            border: outset #313131;
            filter: brightness(100%);
        }
            @-moz-document url-prefix() {
                .sidebar ol :active { /*This is for what happens when a sidebar link is clicked on SPECIFICALLY IN FIREFOX BECAUSE IT BUGS OUT OTHERWISE*/
                    border: none;
                    filter: brightness(100%);
                }
                .sidebar ol { /*This is the left sidebar link stuff IN FIREFOX ONLY TO FIX A BUG*/
                    background-color: #313131;
                }
            }
        .sidebar li :active { /*This is just to prevent the text within the boxes getting their own border when clicked on*/
            border: none;
        }
        #sidebar-active { /*Page link that is currently active*/
            border: outset #313131;
            filter: brightness(100%);
        }

.sidebar-right { /*This is the RIGHT sidebar box*/
    border-style: solid;
    border-color: #313131;
    margin: 0%;
    margin-right: 18.7%;
    background-color:black;
    overflow: hidden;
    position: fixed;
    z-index: 1;
    right:0;
}
    .sidebar-right ol { /*This is for the links within the right sidebar*/
        columns: 2;
        break-inside: avoid;
        column-gap: 0%;
        list-style: none;
        margin: 0%;
        padding: 0%;
    }
    .sidebar-right img {
        width: 50px;
        border: outset #313131;
        background-color: #313131;
    }
        .sidebar-right a :hover {
            background-color: #212121;
        }
        .sidebar-right a :active {
            border-style: inset;
            background-color: #212121;
            filter: brightness(80%);
        }

.main-text { /*This is for the main center text box*/
    background-image: url(../images/background-block-pink.webp);
    border-style: solid;
    border-color: #313131;
    margin: auto;
    text-align: center;
    width: 50%;
    height: 50%;
}
        .main-text h2 {
            font-family: tamaconnecttype;
            margin: 2%;
            margin-right: 1%;
            margin-left: 1%;
        }
    #main-text-paragraph {
        margin: 1%;
        padding-left: 1%;
        padding-right: 1%;
        border: inset #313131;
        overflow-wrap: break-word;
        background-color: #ffbcd6;
        background-image: url(../images/master-system-background.webp);
        background-size: 5%;
    }
        #main-text-paragraph h3 {
            font-size: x-large;
            margin: 2%;
        }
        #main-text-paragraph p {
            margin: 2%;
            font-size: large;
        }
    #main-text-paragraph-right {
        float: right;
        margin: 1%;
        margin-top: 0%;
        width: 590px;
        padding: 1%;
        padding-bottom: 0%;
        padding-top: 0%;
        border: inset #313131;
        overflow-wrap: break-word;
        background-color: #ffbcd6;
        background-image: url(../images/master-system-background.webp);
        background-size: 5%;
    }

.scrollbox { /*This is for scrollboxes*/
    background-image: url(../images/master-system-background.webp);
    background-size: 10%;
    border: solid #313131;
    margin: 1%;
    margin-right: 0%;
    margin-top: 0%;
    overflow: break-word;
    height: 550px;
    width: 30%;
    font-family: MS PGothic;
    font-size: small;
    padding: 1%;
    padding-top: 0%;
    padding-bottom: 0%;
}
    .scrollbox hr { /*This is to change the line break between updates within the scrollbox*/
        border: inset #313131;
        height: 0;
        width: 95%;
    }

.musou-thumbnail img {
    columns: 4;
    break-inside: avoid;
    width: 200px;
    height: 267px;
    border-style: solid;
    border-color: #313131;
    margin: 1%;
}

#bomb {
    position: fixed;
    right: 10%;
    top: 30%;
    z-index: 1;
    max-width: 500px;
}
    #bomb:hover { /*This is what happens when you hover over the character images*/
        opacity: 0.35;
    }